
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> Hello <span style="color:red">@ViewData["Name"]</span>&nbsp;@ViewBag.Nom
    </div>
</body>
</html>
